pkgbase = tgradish-bin
	pkgdesc = Telegram video stickers and emoji from any video, and animated stickers from pixel art (release build)
	pkgver = 2.0.0
	pkgrel = 1
	url = https://github.com/sliva0/tgradish
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = ffmpeg
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = libx11
	depends = libxcursor
	depends = libxi
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = libxrandr
	depends = wayland
	optdepends = xdg-desktop-portal: file dialogs in the window
	provides = tgradish
	conflicts = tgradish
	options = !strip
	options = !debug
	source_x86_64 = https://github.com/sliva0/tgradish/releases/download/v2.0.0/tgradish-2.0.0-x86_64-unknown-linux-gnu-system-ffmpeg.tar.gz
	sha256sums_x86_64 = SKIP
	source_aarch64 = https://github.com/sliva0/tgradish/releases/download/v2.0.0/tgradish-2.0.0-aarch64-unknown-linux-gnu-system-ffmpeg.tar.gz
	sha256sums_aarch64 = SKIP

pkgname = tgradish-bin
